requirements

# Base ----------------------------------------
ultralytics==8.3.51
matplotlib>=3.8.0
numpy>=1.26.4
opencv-python>=4.10.0.84
pillow>=11.0.0
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
matplotlib==3.8.0
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.64.0

roboflow==1.1.50

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas>=2.2.2
seaborn>=0.11.0
plotly==5.24.1

# Extras --------------------------------------
ipython>=7.34.0  # interactive notebook
psutil>=5.9.5  # system utilization
albumentations>=1.4.20  # image augmentation
thop>=0.1.1  # FLOPs computation

# NLP -----------------------------------------
nltk==3.9.1
gensim==4.3.3

# Machine Learning ---------------------------
scikit-learn>=0.24.2
xgboost>=1.5.0
lightgbm==4.5.0

# Hub -----------------------------------------
GitPython>=3.1.24

# Visualization --------------------------------
bokeh==3.6.2
folium==0.19.2